body{
    background-color: grey;
}
header{
    background-color: black;
    text-align: center;
    padding:20px;

}
header h1{
    font-size: 2.5em;
    font-style: bold;
    color: wheat;
    text-shadow: 5px 5px 5px;
}
header p{
    font-size: 1.6em;
    font-style: italic;
    color: rgba(220, 213, 20, 0.603);
    filter: drop-shadow(20px);
    
    }

.collections{
    display:grid;
    margin:auto;
    padding:50px;
    align-items: center;
    justify-items: center;
    
}
main{
    max-height: 100%;
    text-align: center;
    align-items: center;
    justify-items: center;
}
footer{
    align-items: center;
    font-size: 1.5em;
    text-align: center;
    background-color: indigo;
    
    margin-bottom: 0%;
    
}
.box1{
    width: 300px;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    padding:30px;
    display:flex;
    justify-items: center;
    position:relative;
    display:block;
    justify-content: center;
}








